<!--Aplikacja Webowa autorstwa Mateusza Szmyta-->
{% extends "html/Baza_strony.html" %}
{% load static %}
{% block content %}
	
	<article style="position:relative; min-height: 500px;
	height: auto;">
		
		<section style="min-height: 500px;
	height: auto;">
			<div class="sign_container">
				<div class="form_box">
						<h2>Stronę założyłem 20.04.2022.</h2>
						<p>Wszystko zaczęło się od momentu, gdy nie mogłem zdecydować się na to, gdzie zjem lunch.</p>
						<p>Do wyboru miałem 3 lokale:</p>
						<li><b style="color:gold;">McDonald's </b> - mają burgery wysokiej jakości, pozostałe dania jednak zostawiają dużo do życzenia</li>
						<li><b style="color:red;">KFC</b> - mają bardzo smaczne frytki, ale raz klient znalazł w burgerze kurzą łapę FUJ</li>
						<li><b style="color:blue;">north fish</b> - Nie przepadam za rybami, ale ich sałatki oraz zupa serowa skradły moje serce</li> 
						<p>Oczywiście miałem możliwość odiwedzenia lokalu, ale pomyślałem że  to kompletna strata czasu.</p>
						<p>Wtedy dotarło do mnie, a gdyby tak zamówić w każdym lokalu to na co mam ochotę.</p>
						<p>Szybko się otrząsnąłem ponieważ byłoby to możliwe, ale koszt dostawy byłby potrójny. Nie wspominając o tym, że każde zamówienie dotarłoby w różnym czasie, co spodowałoby wystygnięcie posiłków, które przyjechały wcześniej.</p>
						<p>Wten zdałem sobie sprawę, że nie tylko ja borykam się z tym problemem i dałoby to się rozwiązać tworząc nową aplikację - sieć fastfoodów, w której można komponować zamówienia
						składające się z jedzenia pochodzącego z wielu lokali fastfoodowych.</p>
						<p>To był strzał w 10! Teraz mam mnóstwo zadowolonych klientów, którzy składają zamówienia przez moja stronę.</p>
						<p>Moja strona do zamawiania żywności jest tak dobra, że sam chętnie z niej korzystam, Spróbuj i TY!</p>
				</div>

			</div>
		</section>
	</article>

{% endblock  %}