<!--Aplikacja Webowa autorstwa Mateusza Szmyta-->
{% extends "html/Baza_strony.html" %}
{% load static %}
{% block content %}
	
	<article style="position:relative; min-height: 500px;
	height: auto;">
		
		<section style="min-height: 500px;
	height: auto;">
			<div class="sign_container">
				<div class="form_box">
						<div style="color:white">
						<h2 style="color:#ff0062">Kontakt</h2>
						<h3 style="">Nasza siedziba znajduje się w Warszawie, ulica gen. Sylwestra Kaliskiego 2 <br /><a href="https://www.google.pl/maps/place/gen.+Sylwestra+Kaliskiego+2,+01-476+Warszawa/@52.2563577,20.89688,17z/data=!3m1!4b1!4m5!3m4!1s0x471ecaf663684cf1:0x4d5fca49e5decfb!8m2!3d52.2563544!4d20.8990687" style="color:#005cbf; text-decoration:none;" target="_blank"> Mapka</a></h3>
						<h3>Telefon kontaktowy: +48 885-582-500 </h3>
						<h3>adres email: <a href="mailto:mateusz.szmyt@student.wat.edu.pl" style="text-decoration:none; color:#e5ff00;">mateusz.szmyt@student.wat.edu.pl</a> </h3>
						<h3>Polub nas na facebooku: <a href="https://www.facebook.com/groups/WojskowaAkademiaTechniczna", style="text-decoration:none; color:white;" target="_blank">🄵🄰🄲🄴🄱🄾🄾🄺</a></h3>
						<h3>Obserwuj nas na instagramie: <a href="https://www.instagram.com/" style="font-family:Freehand521 BT; color:gold; text-decoration:none;" target="_blank">Instagram</a></h3>
						</div>
				</div>

			</div>
		</section>
	</article>
{% endblock  %}