<!--Aplikacja Webowa autorstwa Mateusza Szmyta-->
{% extends "html/Baza_strony.html" %}
{% load static %}
{% block content %}
	
	<article style="position:relative; min-height: 500px;
	height: auto;">
		
		<section style="min-height: 500px;
	height: auto;">
			<div class="sign_container">
				<div class="form_box">
						<h2>Witaj na stronie OrderInOne</h2>
						<h3>Jesteśmy jedyną na rynku firmą, która pozwala komponować zamówienia w różnych lokalach typu fastfood.</h3>
					
				</div>

			</div>
		</section>
	</article>
{% endblock  %}